 body {
            font-family: Arial, sans-serif;
            text-align: center;
            display: flex;
            justify-content: center;
           
        }
        .container{
            width: 300px;
           border: none;
            position: relative;
           
           
        }
        #counter {
            width: 136px;
            height: 47px;
            border: 5px solid rgb(255, 2, 2);
            border-radius: 5px;
            background-color: aliceblue;
            font-size: 42px;
            margin-left: 77px;
            margin-top: -234px;
            position: absolute;
            z-index: 1;
            text-align: right;
        }
        .count{
            position: absolute;
            z-index: 1;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-top: 180px;
            margin-left: -185px;
            opacity: 0;
        }
        .reset{
            position: absolute;
            z-index: 1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: -112px;
            margin-top: 155px;
            opacity: 0;
        }
        /* button {
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        } */

        img{
            width: 300px;
            position: relative;
            z-index: 1;
        }